*~
*.la
*.lo
*.loT
*.o
*.pc
*.pyc
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
libtool
stamp-h1
build-aux/depcomp
build-aux/install-sh
build-aux/compile
build-aux/config.*
build-aux/ltmain.sh
build-aux/missing
examples/test-client
src/mojito.service
src/mojito-core
tests/test-online
tests/test-client-online
tests/test-download
tests/test-download-async
m4/shave
m4/shave-libtool
*-ginterface.[ch]
*-bindings.h
*-marshals.[ch]
test-runner
