*~
*.la
*.lo
*.loT
*.o
*.pc
*.pyc
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.*
configure
libtool
stamp-h1
build-aux
examples/test-client
examples/monitor-caps
src/mojito.service
src/mojito-core
tests/test-online
tests/test-client-online
tests/test-download
tests/test-download-async
*-ginterface.[ch]
*-bindings.h
*-marshals.[ch]
test-runner
intltool-*
po/POTFILES
po/stamp-it
po/*.gmo
m4/intltool.m4
po/.intltool-merge-cache
services/*/*.keys
