*~
*.la
*.lo
*.loT
*.o
*.pc
*.pyc
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.*
configure
libtool
stamp-h1
build-aux
examples/test-client
examples/monitor-caps
examples/test-client-query
src/libsocialweb.service
src/libsocialweb-core
libsocialweb-keystore/test-suite
libsocialweb/sw-enum-types.[ch]
libsocialweb/stamp-enum-types
tests/test-online
tests/test-client-online
tests/test-download
tests/test-download-async
tests/test-upload
interfaces/*-ginterface.[ch]
*-bindings.h
*-marshals.[ch]
test-runner
intltool-*
po/POTFILES
po/stamp-it
po/*.gmo
po/libsocialweb.pot
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
po/.intltool-merge-cache
services/*/*.keys
CONFIGURE
gtk-doc.make
*.bak
*.stamp
docs/*/html/
docs/*/xml/
docs/*/*-decl-list.txt
docs/*/*-decl.txt
docs/*/*-overrides.txt
docs/*/*-undeclared.txt
docs/*/*-undocumented.txt
docs/*/*-unused.txt
docs/*/*.args
docs/*/*.hierarchy
docs/*/*.interfaces
docs/*/*.prerequisites
docs/*/*.signals
docs/libsocialweb-client/libsocialweb-client.types
docs/libsocialweb-dbus/libsocialweb-dbus-sections.txt
docs/libsocialweb-dbus/libsocialweb-dbus.types
